/* -- Fonts --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Roboto+Slab:wght@400;500;600;700&display=swap');


/* -- background image -- */

body {
    background: url(../images/image-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

/* -- jumbotron -- */

.jumbotron-style {
    text-align:Center;
    background-color: rgba(0, 0, 0, 0.80);
    margin-bottom: 0;
}

.title {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 70px;
}

.title-2 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-bottom: 30px;
    text-decoration: underline;
}

.lead {
    font-family: 'Roboto Slab', serif;
    color: white;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* -- Game -- */

.button {
    border-radius: 40%;
    background-color: white;
    margin-top: 85px;
    margin-left: 72px;
    font-size: 25px;
}

.name {
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;
    margin-left: 54px;
    position: absolute;
    color: white;
    font-size: 40px;
}

.name-2 {
    font-family: 'Roboto Mono', monospace;
    margin-top: 44px;
    margin-left: 75px;
    position: absolute;
    color: white;
    font-size: 25px;
}

#turn {
    font-size: 20px;
    height: 30px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 12px;
    margin-left: 88px;
    position: absolute;
    background: #330000;
    color: red;
    font-family: 'Roboto Slab', serif;
}

#outer-circle {
    margin-top: 50px;
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
}

#topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    background: rgb(1, 92, 1);
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 10px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#topright {
    position: absolute;
    height: 250px;
    width: 250px;
    background: rgb(151, 1, 1);
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 10px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    background: rgb(221, 164, 20);
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 10px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    background: rgb(0, 0, 168);
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 10px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inner-circle {
    height: 250px;
    width: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    position: absolute;
    background: grey;
    border-radius: 50%;
    border-style: solid;
    border-width: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* -- bottom box -- */

.card {
    margin-left: auto;
    margin-top: 25px;
}