/* -- Fonts --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Roboto+Slab:wght@400;500;600;700&display=swap');


/* -- background image -- */

body {
    background: url(../images/image-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

/* -- jumbotron -- */

.jumbotron-style {
    text-align:Center;
    background-color: rgba(0, 0, 0, 0.80);
    margin-bottom: 0;
}

.title {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 70px;
}

.title-2 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-bottom: 30px;
    text-decoration: underline;
}

.lead {
    font-family: 'Roboto Slab', serif;
    color: white;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* -- Game -- */

